/.nb-gradle/
target/
gen
build/
.gradle/
.idea/
**/*.iml
/Renderer/nbandroid/
/Renderer/bin/
/Renderer/gen/
/Renderer/build/

/RendererTester/nbandroid/
/RendererTester/bin/
/RendererTester/gen/
/RendererTester/build/

/mapfragment-demo/nbandroid/
/mapfragment-demo/bin/
/mapfragment-demo/gen/
/mapfragment-demo/build/

/TestAndroidRenderer3/nbandroid/
/TestAndroidRenderer3/bin/
/TestAndroidRenderer3/gen/
/TestAndroidRenderer3/build/

local.properties